
.header_container{
    width: 100%;
    background: #fff;
    padding: 0.5rem;
    /* border: 3px solid black; */
    display: flex;
}

.input_wrapper{
    /* border: 2px solid red; */
    margin-left: 150px;
    flex-basis: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_wrapper input{
    width: 60%;
    border-radius: 5px;
    background: #F7F7F7;
    padding: 0 50px; 
    height: 40px; 
    border: none; 
    outline: none;
 
}
.logo_div{
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-right: 5px;
}
.search_icon{
    max-width: 20px;
    position: absolute;
    left: 160px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.logo_div div{
   border-radius: 50%;
   background-color: gray;
}

.logo_div img{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .search_icon{
        margin-left: -38px;
        /* background: #000; */
    }
}
@media screen and (max-width: 1024px) {
    .search_icon{
        left: 100px;
    }
}
@media screen and (max-width: 425px) {
    .logo_div{
        display: none
    }
    .input_wrapper{
        flex-basis: 100%;
    }
    .search_icon{
        margin-left: -60px;
    }
}