.header{
    background: #ffffff;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 300px;
    font-family: "Work Sans";
  
}

.input_wrapper {
    position: relative;
    width: fit-content; 
}

.search_icon {
    width: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;    
}

.search_input {
    border-radius: 5px;
    /* background-color: #f2f4f7; */
    background: #F7F7F7;
    padding: 0 50px; 
    height: 40px; 
    border: none; 
    width: 400px;   
}
.logo_div{
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo_div div img{
    width: 100%;
    height: 100%;

}
.logo_div div{
    background-color: #667185;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1024px) {
    .search_icon {
        width: 20px;
        position: absolute;
        left: 10px;
        top: 50%;  
    }
}

@media screen and (max-width: 1280px) {
    .header_container{
        margin-left: 100px;
        display: flex;
        justify-content: space-between;
    }
    .search_input {
        width: 500px;  
        margin-right: 20px; 
    }
}
@media screen and (max-width: 1024px) {
    .header_container{
        margin-left: 50px;
    }
}
@media screen and (max-width: 768px) {
    .header_container{
        margin-left: 10px;
    }
    .search_input{
        width: 300px;
    }
}