.main_body{
    display: flex;
    gap: 1.5rem;
    font-family: "Work Sans";

}
.sidebar_container{
    flex-basis: 20%;
}
.main_section{
    min-height: 700px;
    flex-basis: 80%;
    
}
.cv_container{
    display: flex;
    gap: 1.5rem;
}

.cv_container div{
    flex-basis: 43%;
}
.main_section h2{
    text-align: center;
}

.input_box, .left_input_box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.left_container, .right_container{
    border: 1px solid gray;
    box-shadow: 0 0 2px;
    border-radius: 6px;
    padding: 1rem;
    
}
.left_container{
    min-height: 500px;
}

.input_box input, .input_box textarea, .left_input_box textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    outline: none;
    border: 1px solid gray;
    box-shadow: 0 0 3px gray;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: green;
}

.input_box textarea{
    max-height: 400px;
}

.left_input_box textarea{
    max-height: 500px;
}

.main_section button{
    width: 94.5%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
}

.main_section button:hover{
    background-color: hsla(120, 100%, 25%, 0.747);
}

@media screen and (max-width: 768px) {
    .sidebar_container{
        display: none;
    }
    .main_section{
        flex-basis: 100%;
        
    }
    .cv_container div{
       flex-basis: 40%;
    }
    .cv_container{
        justify-content: center;
    }
    .main_section button{
        width: 92%;
        margin-left: 23px;
    }
}
