.sidebar_bg{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    height: 100vh;
    width: 200px;
    position: fixed;
    background: #212121;
    color: aliceblue;
    font-family: "Work Sans";
    font-weight: 400;
}
.logo_container{
    width: 70%;
}

.logo_container img{
    width: 100%;
    padding: 1rem;
}
.nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}
.nav li{
    list-style-type: none;
    margin-left: 1rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav li:hover{
    background: #667185;
    cursor: pointer;
}
.menu{
    font-weight: 200;
    cursor: text !important;
    background: none !important;
}
.logout_nav{
    border-top: 1px solid #667185;
}
.logout_nav li{
    margin: 1.5rem;
}

select{
    width: 100%;
    background: inherit;
    border: none;
    outline: none;
    color: aliceblue;
    font-family: "Work Sans";
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .sidebar_bg{
        display: none;
    }
}