.edit_section {
    background: #F7F7F7;
    min-height: 100vh;
    display: flex;
}

.edit_cv_container {
    flex: 1; 
    font-family: "Work Sans";
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
}

.edit_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjust margins for smaller screens */
@media screen and (max-width: 768px) {
    .edit_cv_container {
        margin-left: 200px; 
    }
}

@media screen and (max-width: 425px) {
    .edit_cv_container {
        margin-left: 0; 
    }
}
